{% load static %}
<!DOCTYPE html>
<html>
<head>
  
       <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134532852-1"></script>
        <!-- <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-134532852-1');
        </script> -->
        <!-- title  -->
        <title>Duara Systems - Cloud Computing Services for Africa </title>
	       <!-- favicon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/blue/Flav.png' %}">
        <!-- Meta tags -->
      	<meta charset="UTF-8">
       <!--  <meta name="description" content="Duara Systems offers on-demand cloud solutions to developers making it easy to deploy virtual compute instances, storage power and much more within Africa."> -->
        <meta name="google-site-verification" content="9u2efIJRhOfsHRpQ3nWNh0tZ4pWh7VIeU30TFo4KSmY" />
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <!-- css links -->
       <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}">

        {% block styles %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap3.3.7.min.css' %}">
      
        {% block extrahead %}{% endblock %}
        <!-- end css external stylesheets -->
</head>
<body>
  
{% block nav %}

  <nav class="navbar navbar-default menu-nav menu-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav_scroll navbar-brand" href="#home"><img class="logo-img" title="Duara Logo" alt="Duara Logo" src="{% static 'images/blue/Duara-Logo.png' %}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">
       
          <li class="drop"><a class="nav_scroll" href="#features">Why Duara</a>
            
          </li>
          <li><a class="" href="/pricing">Our Products</a></li>
          <li class="drop"><a class="nav_scroll" href="services">Services</a>
            
          </li>
        <li><a class="" href="/pricing">Our Approach</a></li>
       
         
        <li><a class="nav_scroll" href="#contact">Contact Us</a></li>
       
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
    {% block content %}
    {% endblock %}
   <script>

 window.intercomSettings = {
  app_id: "{{ INTERCOM_APPID|escapejs }}"
 
};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/lstoqvzn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</body>

</html>
