
{% extends 'landingpage/base.html' %}
{% load static %}
   {% block styles %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
   {% endblock %}
{% block content %}
   {% block nav %}
   {% include 'landingpage/nav.html' %}
   {% endblock %}
<div class="outlay features-top">
  <div class="container ">
    <div class="row">
      <div>
        <h3 class="heavy-font">
          what Duara offers.
        </h3>
        <p class="simplicity" style="background-image: linear-gradient(to bottom left, #e8d3ec 0%,#940a4a 100%);"></p>
        <p class="pay-pitch"> Rethinking cloud!</p>
      </div>
    </div>
  </div>
</div>
<div class="features-pitch">
  <div class="">
      <div class="row">
        <div class="col-md-6">
          <div class="feature-compute">
            <div class="icon">
              <img class="" alt="virtual servers" src="/static_files/images/virtual%20machines.svg">
            </div>
            <h2>
              Compute Instances
            </h2>
            <p class="simplicity" style="margin: 60px;"></p>
            <p class="feature-info">
              Duara offers high performing compute instances that can be launched in few simple steps.
            </p>
            <ul style="">
              <li>Deploy in few simple steps</li>
              <li>Intuitive and user-friendly dashboard</li>
            </ul>
          </div>

        </div>
        <div class="col-md-6">
          <div class="feature-compute">
          </div>
        </div>
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <div class="feature-compute">
            <div class="icon">
              <img class="" alt="virtual servers" src="/static_files/images/virtual%20machines.svg">
            </div>
            <h2>
              Block Storage
            </h2>
            <p class="simplicity" style="margin: 60px;"></p>
            <p class="feature-info">
              Duara offers high performing compute instances that can be launched in few simple steps.
            </p>
            <ul style="">
              <li>Deploy in few simple steps</li>
              <li>Intuitive and user-friendly dashboard</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-compute">
            <div class="icon">
              <img class="" alt="virtual servers" src="/static_files/images/virtual%20machines.svg">
            </div>
            <h2>
             Floating IP address.
            </h2>
            <p class="simplicity" style="margin: 60px;"></p>
            <p class="feature-info">
              Duara offers high performing compute instances that can be launched in few simple steps.
            </p>
            <ul style="">
              <li>Deploy in few simple steps</li>
              <li>Intuitive and user-friendly dashboard</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>





 {% block footer %}
  {% include "landingpage/footer.html" %}
  {% endblock %}
 <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script><script>new WOW().init();</script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script> 
    function afterReveal( el ) 
{
  el.addEventListener('animationend', function( event ) 
    {
      $('.wow').each(function(){ $(this).css('opacity',1); }); 
    }
  ); 
} new WOW({ callback: afterReveal }).init() 
  </script>

{% endblock %}


