   {% load static %}
   {% block footer %}
<footer class="container-fluid">
    <div class="row">
      <div class="col-md-4 toast col-sm-6 col-xs-12">
        <img class="" alt="Duara"  src="{% static 'images/transparent.png' %}">
          <div class=" toast">
            <ul class="channels">
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>    +254701710337
                </p>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>
                info@duara.io
                </p>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>
                Galana Plaza, 7th Floor Galana road, Nairobi
                </p>
              </li>
            </ul>
            <ul class="media-icons ">
              <li class="linkedin">
                <a href="https://twitter.com/duarasystems" target="_blank">
                  <img alt="Duara Twitter" title="Twitter" src="{% static 'images/twitter.svg' %}">
                </a>
              </li>
              <li>
                <a target="_blank" href="https://join.slack.com/t/duara-systems/shared_invite/enQtNTQ0NTk0NjEzMTQzLTRjYmMwNjA0MDk1Mjk4NmJkOTNlZGVmYjI2NGQxY2Y4ZjY3OTU0ZjhlZjY1NWM1YjJiOGVkMzVkMzRiM2JkY2Y">
                  <img alt="Duara Slack" title="Slack" src="{% static 'images/slack.svg' %}">
              </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
      	<h3>Support</h3>
      	<ul class="quick_nav">
      		<a href="#"><li>User Dashboard</li></a>
      		<a class="nav_scroll" href="#Contact"><li>Contact Us</li></a>
      		<a href="#"><li>FAQ</li></a>
      		<a href="#"><li>Slack</li></a>

      	</ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
      	<h3>Products</h3>
      	<ul class="quick_nav">
      	<a href="#"><li>Virtual Machines</li></a>
      	<a href="#"><li>Block Storage</li></a>
      	<a href="#"><li>Floating IPs</li></a>
      	<a href="#"><li>Backups</li></a>
      	</ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
      	<h3>Links</h3>
      	 <ul class="quick_nav">
        <li><a class="nav_scroll" href="#home">Home</a></li>
        <li><a class="nav_scroll" href="#products">Products</a></li>
        <li><a class="" href="/pricing">Pricing</a></li>
         <li><a class="nav_scroll" href="https://abcxyz-beta-docs.duara.io/">Docs</a></li>
         
        <li><a class="nav_scroll" href="#contact">Contact Us</a></li>
        
      </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
      	<h3>Follow us</h3>
      	<ul class="quick_nav">
      	<a href="#"><li>Slack</li></a>
      	<a href="#"><li>Twitter</li></a>
      	<a href="#"><li>LinkedIn</li></a>
      	<a href="#"><li>Github</li></a>
		<a href="#"><li>Medium</li></a>      	
      	</ul>
      </div>
      <br>
      <div class="border-hr">
      </div>
      <div class="col-md-12 copyright">
        <i class="far fa-copyright"></i>
        Copyright 2019 Duara Systems
        
      </div>
    </div>
  </footer>
 {% endblock %}