 

{% extends 'landingpage/base.html' %}
{% load static %}

{% block content%}

<section id="home">
  <div class="container ">
    <div class="row">
      <div class="landing-section  purple-theme">
        <div class="col-md-6 col-lg-5">
          <div class="centered">
            <h2>
              Providing on-demand cloud solutions in Africa
            </h2>
            <div class="">
              <p class="pitch"> 
              We make it easy for developers and enterprises to deploy cloud applications instantly.
              </p>
              <p class="pitch pitch2">
              Subscribe to be part of our beta process.
              </p>
            </div>
            <div class="buttons">
              <div class="buttons">
                <form id="subscribeForm">
                  {% csrf_token %}
                  <input class="subscribemail" type="email" name="email" placeholder="Your Email Address">
                  <button type="submit" class="submit-btn-sub btn ">Subscribe</button>
                </form>
                <div id="subscribeResponse">
                  <div id="dismiss">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="duara-cloud fadeInUp">
            <img src="{% static 'images/Image_VM.svg' %}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <h1 class="heavy-fontcolor">Why choose Duara </h1>
  <p class="simplicity"></p>
  <div class="container">
    <div class="row reduce">

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="	clompute simple-value">
          <img class="transparent-image" src="{% static 'images/simple colored.svg' %}">
          <h2 >
            Simple
          </h2>
            <p>
            Easily self-provision your compute instances on our intuitive platform.
            </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="	clompute transparent-value">
          <img class="transparent-image" src="{% static 'images/transparent colored.svg' %}">
          <h2 >
            Transparent 
          </h2>
            <p>
            Only pay for resources used.
            </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="	clompute reliable-value">
          <img class="transparent-image reliable" src="{% static 'images/reliable colored.svg' %}">
          <h2 >
            Reliable
          </h2>
            <p>
            We guarantee high availability keeping your
            applications up<br> and running at all times.
            </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="support-value clompute separator">
          <img class="transparent-image" src="{% static 'images/support colored.svg' %}">
          <h2 >
            Support
          </h2>
            <p>
            We offer round the clock support.
            </p>
        </div>
      </div>
    </div>

  </div>
  <h3 class="pitch-spin wow fadeIn heavy-fontcolor" data-wow-delay=".2s" data-wow-duration="1s">Spin up your compute instances in <span>3</span> simple steps</h3>
  <p class="simplicity"></p>
  <div class=" container">
    <div class=" simple row">
      <div class="placed-position">
        <div class="border-delay  wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
        </div>
      </div>
      <div class="col-md-2">
        <div class=" simplicity wow fadeIn"  data-wow-delay=".4s">
          <img class="" src="{% static 'images/signup colored.svg' %}">
        </div>
        <p class="heavy-fontcolor">
        Sign up
        </p>            
      </div>
      <div class="col-md-2 col-md-offset-3"> 
        <div class=" simplicity wow fadeIn"  data-wow-delay=".8s">
          <img class="" src="{% static 'images/configure colored.svg' %}">
        </div>
        <p class="heavy-fontcolor">
        Configure
        </p>
      </div>
      <div class="col-md-2 col-md-offset-3">
        <div class=" simplicity wow fadeIn"  data-wow-delay="1s">
          <img class="" style="transform: rotate(13deg);" src="{% static 'images/launch colored.svg' %}">
        </div>
        <p class="heavy-fontcolor">
        Launch 
        </p>
      </div>
    </div>
  </div>
</section>
<section id="products" class="bck-shade" >
  <div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="heading">Our Products</h2>
      <div class="section-bg col-md-4"  >
        <div class="left">
          <div class="icon">
            <img class="" src="{% static 'images/virtual machines.svg' %}">
          </div>
        <div class="content">
          <header>
            <h3>
              Virtual Machines
            </h3>

          </header>
          <article>
            <p>
            Scalable VMs that can run on any linux-based application.
            </p>
          </article>
        </div>
        </div>
      </div>
      <div class="section-bg col-md-4 "><div class="left">
          <div class="icon">
            <img class="" src="{% static 'images/block storage.svg' %}">
          </div>
          <div class="content">
            <header>
              <h3>
                Block Storage
              </h3>
            </header>
            <article>
              <p>
              Additional storage attached to running VMs allowing for flexibility and scalability.
              </p>
            </article>
          </div>
        </div>
      </div>
      <div class="section-bg col-md-4 " >
        <div class="left">
          <div class="icon">
            <img class="" src="{% static 'images/floating IP.svg' %}">
          </div>
        <div class="content">
          <header>
            <h3>
              Floating IP
            </h3>
          </header>
          <article>
            <p>
            Attach public IP addresses to VMs on a private network to make them reachable from the net. 
            </p>
          </article>
        </div>
        </div>
      </div>
      <div class="section-bg col-md-4 "><div class="left">
          <div class="icon">
            <img class="" style="width: 45px; margin-top: -1px;" src="{% static 'images/backups.svg' %}">
          </div>
          <div class="content">
            <header>
              <h3>
                Backups and snapshots
              </h3>
            </header>
            <article>
              <p>
              Create images of your instances at a particular time. Images can also be used to spin up clones of a running instance.
              </p>
            </article>
          </div>
        </div>
      </div>
      <div class="section-bg col-md-4 "><div class="left">
          <div class="icon">
            <img class="" style="width: 43px; margin-top: 0;" src="{% static 'images/VPN.svg' %}">
          </div>
          <div class="content">
            <header>
              <h3>
                Private Networking
              </h3>

            </header>
            <article>
              <p>
              Deploy your instances on a private network.
              </p>
            </article>
          </div>
        </div>
      </div>
      <div class="section-bg col-md-4 "><div class="left">
          <div class="icon">
            <img class="" style="width: 39px; margin-top: 0;" src="{% static 'images/FaaS.svg' %}">
          </div>
          <div class="content">
            <header>
              <h3>
                Firewall-as-a-service
              </h3>
            </header>
            <article>
              <p>
              Easily create firewall rulesand provision them to your instances as needed.
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container ">
    <div class="row">
      <div>
        <h3 class="heavy-fontcolor">
          Our pricing model
        </h3>
        <p class="simplicity"></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 border-shadow">
        <div class="limit-info">
          <div class="">
            <div class="info active borderless" id="cloudcompute">
              <h6>Virtual Machines</h6>
            </div>	

            <!--          <div class="info" id="Reliable-uptime">

              <h6>Block storage</h6>



              </div>	

              <div class="info borderless" id="block-storage">

              <h6>Floating IPs</h6>


              </div> -->
          </div>
        </div>

        <div class="target-info">
          <div class="cloudcompute info-active">
            <div class="pricing-table">
              <table class="table ">
                <tr class="thead-dark">
                  <th>Memory</th>
                  <th>VCPUs</th>
                  <th>Storage</th>
                  <th>International  Transfer</th>
                  <th>Price</th>
                </tr>

                <tr>
                  <td>512MB</td>
                  <td>1 VCPU</td>
                  <td>10 GB</td>
                  <td>1 TB</td>
                  <td>$5/mo  $0.007/hr</td>
                </tr>
                <tr>
                  <td>1GB</td>
                  <td>1 VCPU</td>
                  <td>20GB</td>
                  <td>1TB</td>
                  <td>$10/mo  $0.015/hr</td>
                </tr>
                <tr>
                  <td>2GB</td>
                  <td>1 VCPU</td>
                  <td>40 GB</td>
                  <td>2TB</td>
                  <td>$20/mo   $0.03/hr</td>
                </tr>
                <tr>
                  <td>2GB</td>
                  <td>2 VCPUs</td>
                  <td>50 GB</td>
                  <td>3 TB</td>
                  <td>$30/mo $0.045/hr</td>
                </tr>
                <tr>
                  <td>4GB</td>
                  <td>2 VCPUs</td>
                  <td>80 GB</td>
                  <td>4 TB</td>
                  <td>$40/mo $0.06/hr</td>
                </tr>
                <tr>
                  <td>8GB</td>
                  <td>4 VCPUs</td>
                  <td>160 GB</td>
                  <td>5 TB</td>
                  <td>$80/mo $0.119/hr</td>
                </tr>
                <tr>
                  <td>16GB</td>
                  <td>6 VCPUs</td>
                  <td>320 GB</td>
                  <td>6 TB</td>
                  <td>$160/mo $0.238/hr</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="block-storage info-info">
            <h5>Intuitive experience.</h5>
            <p>
            Manage your Virtual Machine on the fly. Enjoy our next Level UX that allows you to concurrently run your tasks without much fuss.
            </p>
          </div>
          <div class="Reliable-uptime">
            <h5>highly scalable </h5>
            <p>
            Easily scale up and quickly to accomodate more users and more tasks. We grow together, We progress with each other.
            </p>
          </div>
          <div class="seemless">
            <h5> seemless integration</h5>
            <p>
            Increase your compute resources as your business demands. Give your end user a seemless experience as you scale up your applications.
            </p>
          </div>					
        </div>
      </div>
    </div>
  </div>
</section>
  <section id="contact" class="">
    <h1 class="contact-header heavy-fontcolor">
      Contact us
    </h1>
    <p class="simplicity"></p>
    <div class="container contact-card">
      <div class="row">
        <div class="toast">
          <h3>We appreciate feedback</h3>
        </div>
        <div class="col-md-6">
          <div class="contact">
            <form id="sendInquiryForm">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="name" placeholder="Name*">
                  </div>
                  <div class=" col-md-12">
                    <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email*">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <textarea class="form-control" id="mailMessage" name="message" rows="3" placeholder="Your Message*"></textarea>
                  <button type="submit" class="submit-btn btn ">Submit</button>
                </div>
              </div>
            </form>
            <div id="sendInquiryResponse">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class=" toast">
            <ul class="channels">
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>    +254701710337
                </p>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>
                support@duara.io
                </p>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>
                Galana Plaza, 7th Floor Galana road, Nairobi
                </p>
              </li>
            </ul>
            <ul class="media-icons ">
              <li class="linkedin">
                <a href="https://twitter.com/duarasystems" target="_blank">
                  <img src="{% static 'images/twitter.svg' %}">
                </a>
              </li>
              <li>
                <a target="_blank" href="https://join.slack.com/t/duara-systems/shared_invite/enQtNTQ0NTk0NjEzMTQzLTRjYmMwNjA0MDk1Mjk4NmJkOTNlZGVmYjI2NGQxY2Y4ZjY3OTU0ZjhlZjY1NWM1YjJiOGVkMzVkMzRiM2JkY2Y">
                  <img src="{% static 'images/slack.svg' %}">
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="container-fluid">
    <div class="row">
      <div class="col-md-12 toast">
        <img class="" src="{% static 'images/transparent.png' %}">
      </div>
      <br>
      <div class="border-hr">
      </div>
      <div class="col-md-12 copyright">
        <i class="far fa-copyright"></i>
        Copyright 2019 Duara Systems
        <i class="far fa-copyright"></i>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script><script>new WOW().init();</script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script> 
    function afterReveal( el ) 
{
  el.addEventListener('animationend', function( event ) 
    {
      $('.wow').each(function(){ $(this).css('opacity',1); }); 
    }
  ); 
} new WOW({ callback: afterReveal }).init() 
  </script>

  {% endblock %}
