

{% extends 'landingpage/base.html' %}
{% load static %}

{% block content%}
    	
	<section id="home">
        <div class="container ">
            <div class="row">
                <div class="landing-section  purple-theme">
                    <div class="col-md-6">
                        <div class="centered">
                        <h2>
    
                            Providing on-demand cloud solutions in Africa
    
                            
    
                        </h2>
                        
                        
                       
                       
                        <div class="">
                                    <p class="pitch"> 
                                        We make it easy for developers and enterprises to deploy cloud applications at the click of a button.
                                    </p>
                                    <p class="pitch pitch2">
                                        Sign up to be part of our beta process.
                                    </p>
                                </div>
                                <div class="buttons">
    
                                    <a href="#" class="signup-button">
                                        Get Started
                                    </a>
                                   
                                   
                            </div>
                    </div>
                    
                    </div>
                    <div class="col-md-6">
                        <div class="duara-cloud fadeInUp">
                            <img src="{% static 'images/Image_VM.svg' %}">
                        </div>
                    </div>
    
            </div>
            </div>
        </div>
        </section>
        <section id="features">
            <h1 class="heavy-fontcolor">Why choose Duara </h1>
            
            <p class="simplicity"></p>
            
        <div class="container">
            <div class="row reduce">
                
                <div class="col-md-3">
                        <div class="	clompute simple-value">
                            <img class="transparent-image" src="{% static 'images/simple colored.svg' %}">
                    <h2 >
                        Simple.
                    </h2>
                    
                    <p>
                        Duara offers an intuitive and easy to use User Experience.
                        Self provision of Compute instances can be achieved in <br> a few easy steps.
    
                        </p>
                    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="	clompute transparent-value">
                        
                        <img class="transparent-image" src="{% static 'images/transparent colored.svg' %}">
                    <h2 >
                        Transparent 
                    </h2>
                    
                    <p>
                        Our Pricing module enables you to pay for only used resources giving
                         an easy way to track your usage. 
                        You only pay for what you use
                        </p>
                    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="	clompute reliable-value">
                        <img class="transparent-image reliable" src="{% static 'images/reliable colored.svg' %}">
                    <h2 >
                        Reliable
                    </h2>
                    
                    <p>
                            
                        We guarantee a 99.99% uptime SLA. We ensure 
                        round the clock availability thus keeping your
                         applications up and running at all possible costs.
    
                        </p>
                    
                    </div>
                </div>
        
                
                <div class="col-md-3">
                        <div class="support-value clompute separator">
                            <img class="transparent-image" src="{% static 'images/support colored.svg' %}">
                    <h2 >
                        Support
                    </h2>
                    
                    <p>
                            
                        We offer round the clock support in the case that you need any assistance.
                        We handle our customers professionally and patiently.
    
                        </p>
                    
                    </div>
                </div>
            
                </div>
    
        </div>
        <h3 class="pitch-spin wow fadeIn heavy-fontcolor" data-wow-delay=".2s" data-wow-duration="1s">Spin up your compute instances in three simple steps</h3>
                <p class="simplicity"></p>
            <div class=" container">
            <div class=" simple row">
                 <div class="placed-position">
                    <div class="border-delay  wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                    
                    </div>
                </div>
                <div class="col-md-2">
                    <div class=" simplicity wow fadeIn"  data-wow-delay=".4s">
                   
                         <img class="" src="{% static 'images/signup colored.svg' %}">
                    
                    </div>
                    <p class="heavy-fontcolor">
                        Signup
                    </p>            
                </div>
               
                <div class="col-md-2 col-md-offset-3"> 
                    <div class=" simplicity wow fadeIn"  data-wow-delay=".8s">
                        <img class="" src="{% static 'images/configure colored.svg' %}">
                    
                      
                    </div>
                      <p class="heavy-fontcolor">
                            Configure
        
                        </p>
                </div>

               
                <div class="col-md-2 col-md-offset-3">
                    <div class=" simplicity wow fadeIn"  data-wow-delay="1.2s">
                      <img class="" src="{% static 'images/launch colored.svg' %}">
                    
                        
                    </div>
                    <p class="heavy-fontcolor">
                            Launch 
                            
                        </p>
                </div>
    
            </div>
        </div>
    </section>
    <section id="products" class="bck-shade" >
		<div>
			
		</div>
		
	


	<div class="container">
		<div class="row">
			<h2 class="heading">Our Products</h2>
			<div class="section-bg col-md-6"  >
				<div class="left">
                    <div class="icon">
                       <img class="" src="{% static 'images/virtual machines.svg' %}">
                    </div>
                    <div class="content">
                        <header>
                            <h3>
                                Virtual Machines
                            </h3>
                            
                        </header>
                        <article>
                            <p>
                                
                            These are compute instances on either<br> Ubuntu, centOS or Fedora distributions

                            </p>
                        </article>
                    </div>
				
				</div>
			</div>
			<div class="section-bg col-md-6 "><div class="left">
                <div class="icon">
                    <img class="" src="{% static 'images/block storage.svg' %}">
                </div>
                <div class="content">
                    <header>
                    <h3>
                        Block Storage
                    </h3>
                    
                </header>
                <article>
                    <p>
                        
                    This is attached to the VM and allows you to<br> increase its storage capacity without increasing<br> its size

                    </p>
                </article>
                </div>
				
				</div>
			</div>
			<div class="section-bg col-md-6 " >
            <div class="left">
                <div class="icon">
                    <img class="" src="{% static 'images/floating IP.svg' %}">
                </div>
                <div class="content">
                    <header>
                    <h3>
                        Floating IP
                    </h3>
                    
                </header>
                <article>
                    <p>
                        
                    These support failovers and minimize<br> downtime
                    as they can be moved from one<br> VM to a redundant VM in the same cluster

                    </p>
                </article>
                </div>
				
				</div>
			</div>
			<div class="section-bg col-md-6 "><div class="left">
                <div class="icon">
                    <img class="" src="{% static 'images/backups.svg' %}">
                </div>
                <div class="content">
                    <header>
                    <h3>
                        Backups
                    </h3>
                    
                </header>
                <article>
                    <p>
                        
                    This provides for automatic back ups, with no<br> interruptions and conducted at regular intervals

                    </p>
                </article>
                </div>
				
				
				</div>
			</div>
			
		</div>
	</div>


</section>



<section id="pricing">
    <div class="container ">
<div class="row">
    <div>
        <h3 class="heavy-fontcolor">
            Our pricing model
        </h3>
        <p class="simplicity"></p>
    </div>
    
</div>
</div>
<div class="container">
<div class="row">
                    <div class="col-md-12 border-shadow">
        

            


    <div class="limit-info">
        <div class="">
                
            <div class="info active borderless" id="cloudcompute">
            
                <h6>Virtual Machines</h6>
                
                
                
            </div>	
            
                
   <!--          <div class="info" id="Reliable-uptime">
            
                <h6>Block storage</h6>
                
                
                
            </div>	
            
            <div class="info borderless" id="block-storage">
                
                <h6>Floating IPs</h6>
                
                
            </div> -->
        </div>
    </div>
            
        <div class="target-info">
            <div class="cloudcompute info-active">
                <div class="pricing-table">
                        <table class="table ">
                            <tr class="thead-dark">
                                <th></th>
                                <th>CPU Core</th>
                                <th>Memory</th>
                                <th>Storage</th>
                                <th>Transfer</th>
                            </tr>
                            
                            <tr>
                                <td>5$/month</td>
                                <td>1 CPU Core</td>
                                <td>1 GB</td>
                                <td>25 GB Storage</td>
                                <td>40GB Transfer</td>
                            </tr>
                            <tr>
                                <td>10$/month</td>
                                <td>2 CPU Core</td>
                                <td>2 GB</td>
                                <td>50 GB Storage</td>
                                <td>80GB Transfer</td>
                            </tr>
                            <tr>
                                <td>20$/month</td>
                                <td>4 CPU Core</td>
                                <td>3 GB</td>
                                <td>75 GB Storage</td>
                                <td>120GB Transfer</td>
                            </tr>
                            <tr>
                                <td>30$/month</td>
                                <td>5 CPU Core</td>
                                <td>4 GB</td>
                                <td>100 GB Storage</td>
                                <td>200GB Transfer</td>
                            </tr>
                        </table>
                </div>
            </div>
            <div class="block-storage info-info">
                <h5>Intuitive experience.</h5>
                <p>
                    Manage your Virtual Machine on the fly. Enjoy our next Level UX that allows you to concurrently run your tasks without much fuss.
                </p>
            </div>
            <div class="Reliable-uptime">
                <h5>highly scalable </h5>
                <p>
                    Easily scale up and quickly to accomodate more users and more tasks. We grow together, We progress with each other.
                </p>
            </div>
            <div class="seemless">
                <h5> seemless integration</h5>
                <p>
                    Increase your compute resources as your business demands. Give your end user a seemless experience as you scale up your applications.
                </p>
            </div>					
        </div>
    </div>
</div>
</div>
</section>
<!-- <div class="container-fluid purple-shade">
<div class="row">
<div class="col-md-12">
    <h2>
        Africa's Cloud
    </h2>

    <p>
        Ever wondered how a virtual machine can be acquired. Duara compute takes care of the overhead for you thus alowing you to simply create, manage and deploy your personal virtual server with so much ease.
    </p>
    <div class="">
        <div class="buttons">
    
                                    <a href="#" class="signup-button">
                                        Launching Soon
                                    </a>
                                   
                            </div>
    </div>

    <div class="globe">
        
    </div>
</div>
</div>
</div> -->
<section id="contact" class="">
<h1 class="contact-header heavy-fontcolor">
    Contact us
</h1>
<p class="simplicity"></p>
<div class="container contact-card">
    <div class="row">
   
        <div class="col-md-6">
            <div class="contact">
                <form>
                  <div class="form-row">
                    <div class="form-group">
                        <div class="col-md-12">
                            
                          <input type="text" class="form-control" placeholder="Name*">
                        </div>
                        
                        
                    <div class=" col-md-12">
                      
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email*">
                    </div>
                    
                    </div>
                    <div class="form-group col-md-12">
                       
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message*"></textarea>
                        <button type="submit" class="submit-btn btn ">Submit</button>
                      </div>

                  </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <h2>
                Africa's Cloud
            </h2>
            <p>
                Duara compute takes care of the overhead for you thus allowing you to simply create, manage and deploy your personal virtual server with so much ease.
            </p>
        </div>
    </div>
</div>
</section>


<footer class="container-fluid">
<div class="row">
    <div class="col-md-3 toast">
        
       <img class="" src="{% static 'images/transparent.png' %}">
        <ul class="channels">
            <li>
                 <i class="fa fa-phone" aria-hidden="true"></i>
                 <p>    +254701710337
                </p>
            </li>
             <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>
                    Support@duara.io
                </p>
            </li>
            
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>
                    Galana Plaza, 7th Floor Galana road, Nairobi
                </p>

            </li>
            


                
            
           <!--  <li class="linkedin">
                <img src="{% static 'images/slack.png' %}" width="50">
                <img src="{% static 'images/linkedin.jpg' %}">
            </li> -->
        </ul>
    </div>
    <div class="col-md-3" style="padding-left: 120px;">
        <h3>Support</h3>
        <ul class="channels">
            <li>
                   <a href="#">
                       User Dashboard
                   </a>
                
            </li>
             <li>
                
                   <a href="#cotactus">
                       Contact Us
                   </a>
               
            </li>
            
            <li>
                
                  <a href="#">FAQ</a>
               

            </li>
            <li>
                <a href="#">
                    Slack
                </a>
            </li>


            <li>
                <a href="#">
                    Live Support
                </a>
            </li>


                
                
           
        </ul>
    </div>
    <div class="col-md-2">
         <h3>Products</h3>
        <ul class="channels">
            <li>
                <a href="#">
                   Virtual Machines
                </a>
            </li>
             <li>
                <a href="#">
                   Block Storage
               </a>
            </li>
            
            <li>
                <a href="#">
                  Floating IPs
               </a>

            </li>
            <li>
                <a href="#">
                    Backups
                </a>
            </li>


                
                
           
          
        </ul>
        
    </div>
     <div class="col-md-2">
         <h3>Links</h3>
        <ul class="channels">
            <li>
                <a href="#">
                   Home
                </a>
            </li>
             <li>
                <a href="#">
                   Products
               </a>
            </li>
            
            <li>
                <a href="#">
                  Pricing
               </a>

            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>


                
                
           
          
        </ul>
        
    </div>
    <div class="col-md-2">
         <h3>Follow Us</h3>
        <ul class="channels">
            <li>
                <a href="#">
                   Slack
                </a>
            </li>
             <li>
                <a href="#">
                   Twitter
               </a>
            </li>
            
            <li>
                <a href="#">
                  LinkedIn
               </a>

            </li>
            <li>
                <a href="#">
                    Github
                </a>
            </li>

            <li>
                <a href="#">
                 Medium
                </a>
            </li>
</ul>
    </div>
    <br>
    <div class="border-hr">
        
    </div>
        <div class="col-md-12 copyright">

            
            <i class="far fa-copyright"></i>
            Copyright 2019 Duara Systems
            <i class="far fa-copyright"></i>
        </div>
        
</div>
</footer>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script><script>new WOW().init();</script>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script> 
function afterReveal( el ) 
{
el.addEventListener('animationend', function( event ) 
     {
          $('.wow').each(function(){ $(this).css('opacity',1); }); 
     }
     ); 
} new WOW({ callback: afterReveal }).init() 
</script>

    
        {% endblock %}