{% extends 'landingpage/base.html' %}

      {% load static %}


{% block nav %}

  <nav class="navbar navbar-default menu-nav menu-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo-img" title="Duara Logo" alt="Duara Logo" src="{% static 'images/white logo.svg' %}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">
         <li class="drop"><a class="nav_scroll " href="about">About</a>
             <div class="drop-down">
               <ul>
                  <li><a href="#"> About Openstack</a></li>
                  <li><a href="#"> About Us</a></li>
                </ul>
              </div>
         </li>
        
        <li><a class="nav_scroll" href="features">Features</a></li>
          <li class="drop"><a class="nav_scroll" href="services">Services</a>
            <div class="drop-down">
               <ul>
                  <li><a href="#"> Public Cloud</a></li>
                  <li><a href="#"> Private Cloud</a></li>
                </ul>
              </div>
          </li>
        <li><a class="nav_scroll" href="#pricing">Pricing</a></li>
         
         
        <li><a class="nav_scroll" href="contact">Contact Us</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
{% block content%}



   {% block styles %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
   {% endblock %}
   <div class="outlay">
       <div class="container ">
    <div class="row">
      <div>
        <h3 class="heavy-font">
          Our pricing model
        </h3>
        <p class="simplicity" style="background-image: linear-gradient(to bottom left, #e8d3ec 0%,#940a4a 100%);"></p>
        <p class="pay-pitch"> Only pay for what you need!</p>
      </div>
    </div>
  </div>
   </div>
<section id="pricing">

  <div class="container">
    <div class="row">
      <div class="col-md-12 border-shadow">
        <div class="limit-info">
          <div class="">
            <div class="info active borderless" id="cloudcompute">
              <h6>Virtual Machines</h6>
            </div> 
            <div class="info  borderless" id="block">
              <h6>Block Storage</h6>
            </div>  
            <div class="info borderless" id="floating">
              <h6>Back ups and snapshot</h6>
            </div>  

          </div>
        </div>

        <div class="target-info">
          <div class="cloudcompute info-active">
            <div class="pricing-table">
              <table class="table ">
                <tr class="thead-dark">
                  <th>Memory</th>
                  <th>VCPUs</th>
                  <th>Storage</th>
                  <th class="shorten">International <br> Transfer</th>
                  <th>Price</th>
                </tr>

                <tr>
                  <td>512MB</td>
                  <td>1 </td>
                  <td>10 GB</td>
                  <td>1 TB</td>
                  <td>Ksh499/mo <br> Ksh0.75/hr</td>
                </tr>
                <tr>
                  <td>1GB</td>
                  <td>1</td>
                  <td>20GB</td>
                  <td>1TB</td>
                  <td>Ksh999/mo <br> Ksh1.49/hr</td>
                </tr>
                <tr>
                  <td>2GB</td>
                  <td>1 </td>
                  <td>40 GB</td>
                  <td>2TB</td>
                  <td>Ksh1999/mo  <br> Ksh2.97/hr</td>
                </tr>
                <tr>
                  <td>2GB</td>
                  <td>2 </td>
                  <td>50 GB</td>
                  <td>3 TB</td>
                  <td>Ksh2999/mo<br> Ksh4.46/hr</td>
                </tr>
                <tr>
                  <td>4GB</td>
                  <td>2 </td>
                  <td>80 GB</td>
                  <td>4 TB</td>
                  <td>Ksh3999/mo<br> Ksh5.95/hr</td>
                </tr>
                <tr>
                  <td>8GB</td>
                  <td>4 </td>
                  <td>160 GB</td>
                  <td>5 TB</td>
                  <td>Ksh7999/mo<br> Ksh11.90/hr</td>
                </tr>
                <tr>
                  <td>16GB</td>
                  <td>6 </td>
                  <td>320 GB</td>
                  <td>6 TB</td>
                  <td>Ksh15999/mo<br> Ksh23.80/hr</td>
                </tr>
              </table>
              
            </div>
          </div>
          <div class="block-storage info-info">
            <h5>Intuitive experience.</h5>
            <p>
            Manage your Virtual Machine on the fly. Enjoy our next Level UX that allows you to concurrently run your tasks without much fuss.
            </p>
          </div>
          <div class="Reliable-uptime">
            <h5>highly scalable </h5>
            <p>
            Easily scale up and quickly to accomodate more users and more tasks. We grow together, We progress with each other.
            </p>
          </div>
          <div class="seemless">
            <h5> seemless integration</h5>
            <p>
            Increase your compute resources as your business demands. Give your end user a seemless experience as you scale up your applications.
            </p>
          </div>

        </div>

        <div class="target-info">
          <div class="floating">
          </div>
        </div>
        <div class="target-info">
          <div class="block">
            <h2>Block Storage</h2>
            We offer very friendly charges that are reliable and transparent, all based on your usage.
            <br>
            $0.2 per GB per month.

          </div>
        </div>
        <p class="region">
                Nairobi (Kenya) is currently the only supported data center region.
                More regions coming soon.
              </p>
      </div>
    </div>
  </div>
</section>


  {% block footer %}
  {% include "landingpage/footer.html" %}
  {% endblock %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script><script>new WOW().init();</script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script> 
    function afterReveal( el ) 
{
  el.addEventListener('animationend', function( event ) 
    {
      $('.wow').each(function(){ $(this).css('opacity',1); }); 
    }
  ); 
} new WOW({ callback: afterReveal }).init() 
  </script>

  {% endblock %}
