{% extends 'landingpage/base.html' %}


{% block content%}
    	
	<section id="home">
        <div class="container ">
            <div class="row">
                <div class="landing-section  purple-theme">
                    <div class="col-md-6">
                        <div class="centered">
                        <h2>
    
                            Providing on-demand cloud solutions in Africa
    
                            
    
                        </h2>
                        
                        
                       
                       
                        <div class="">
                                    <p class="pitch"> 
                                        We make it easy for developers and enterprises to deploy cloud applications at the click of a button.
                                    </p>
                                </div>
                                <div class="buttons">
    
                                    <a href="#" class="signup-button">
                                        Launching Soon
                                    </a>
                                   
                            </div>
                    </div>
                    
                    </div>
                    <div class="col-md-6">
                        <div class="duara-cloud">
                            
                        </div>
                    </div>
    
            </div>
            </div>
        </div>
        </section>
{% endblock %}