/*color scheme
	#92278F
	#D12D68
	#778A91
*/

body{
	display: block;
	margin: 0;
	padding: 0;
	color: #85969c;
	background-color:#F2F3F2;

}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:hover, a:focus{
	text-decoration: none !important;
	outline: none !important;
}
.logo a img{
	width: 200px;
	
	height: 80px;
}
nav.navigation ul li{
	list-style: none;
	display: inline-block;
	margin: 30px auto;
	padding: 10px;
	float: right;
    font-size: 16px;
    font-weight: 500;
}
nav.navigation{
	float: right;
}
nav.navigation ul li a{
	color: #85969c;
	}
nav.navigation ul li a:hover, nav.navigation ul li a.active{
	text-decoration: none;
	color: #000;
	}
.trial a{
	background-color: #59356e;
    color: #fff !important;
    padding: 20px;
    border-radius: 4px;
}
.landing-section{
	min-height: 360px;
	height: 100%;
	/* conflicting colors cornelius to advice cornelius #5a356e*/
    background: #330e2f;
    color: #fff;
    text-align: center;
}
.landing-section .left-side button{
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	padding: 15px;
	border-radius: 3px;
	min-width: 200px;
	margin: 60px auto;display: block;
}
.landing-section .left-side{
	
}
.form-triggers ul{
	width: 400px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    margin: 5px auto;
}
.form-triggers li{
	text-align: center;
	display: inline-block;
    padding: 20px;
    width: 50%;
    color: #fff;
    float: left;
    cursor: pointer;
    
}
.form-triggers li a{
	color: #fff;
}
.form-triggers li.active{
 color: #fff;
}

.form-triggers li.active a{
		color: #fff;
}
.code-sample{
	background-color: #030021;
	min-height: 350px;
	width: 100%;
	border-radius: 4px;
	margin: 110px auto 20px;
    padding: 45px;
    color: #fff;
}
.services{
	display: block;
	position: relative;
	overflow: hidden;
}
.services li{
	text-align: center;
	list-style: none;
	float: left;
	width: 50%;
	
	margin-top: 20px;


}
.top-li{
	border-bottom: 1px solid #eee;
}
.services li div{
	width: 50px;
	width: 90px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.info{
    padding: 0px;

}
.product{
	margin: 40px auto;
	min-height: 275px;
	border: 1px solid #000;
	padding: 20px;
}
.product h4{
	text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.1px;
    margin: 30px auto; 
}
.product i{
	float: left;
	color: #b4a9af;
	
    font-size: 35px;
}
.product div{

}
.wording{
	    float: right;
    
    padding: 20px;
    width: 250px;
    
    min-height: 140px;
    text-align: center;
    
}
.wording p{
	color: #330e2f;
}
.wow{
	visibility: none;
}
.info div{
	margin: 20px auto;
	width: 50%;
    display: inline-block;
    float: left;
}
.info i{
	 animation: fadeInLeft 1.25s cubic-bezier(0.4, 0, 1, 1) 0.5s 1 forwards;
	 font-size: 50px;
	 color: #84969c;
}
.purple-shade{
	
	padding: 20px;
}
.border-signup{
	transition: 1s;
left: 270px !important;
}
.shade{
	background-color: #d7ded7;
	margin: 183px auto 20px;
}
.flexible{
	background-image: url("../images/web icons/webicon-09.png"); 
	background-size: contain;
	
}
.subscribe-form{
	padding: 30px;
	margin: 30px auto; 
}
.subscribe-form input{
	color: #000;
	padding: 20px; 
}
button.subscribe{
	border: 1px solid #b13a63;
    background-color: transparent;
    padding: 13px;
    border-radius: 5px;
    width: 100%;
}
.cloud{
	background-image: url("../images/web icons/webicon-08.png");
	background-size: contain;
}

.Scalable{
	background-image: url("../images/web icons/web icon-03.png");
	background-size: contain;
}
.extensible{
	background-image: url("../images/web icons/web icon-05.png");
	background-size: contain;
}
.login, .signup{
	width: 400px;
    margin: 0 auto;
    border: 1px solid #85969c;
    padding: 0 30px;
    border-radius: 2px;
    background: #330e2f;
    
    
    backface-visibility: hidden;
    
	
}
.btn:hover{
	color: #fff;
}
.login:before, .signup:before{
content: " ";
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #84969c transparent;
    position: relative;
    top: -30px;
    right: 0;
}
.login:before{
	 right: 90px;
}
.signup:before{
	
    left: 90px;
    
}
.border-active{
	border-bottom: 1px solid #fff;
    bottom: -48px;
    position: relative;
    width: 60px;
    left: 70px;
    transition: 1s;
}
.signup{
	transform: rotateY(90deg);
	transition-duration: .5s;
	backface-visibility: hidden;
	margin: -325px auto;
}
.signup-active .signup{
	display: block !important;
	transform: rotateY(0deg) !important;
	
	transition-duration: .5s;
	transition-delay: 1s;
}
.login{
	margin-top: 0 !important;
	
	transition-duration: 1s;
	transition-delay: .5s;
}
.signup-active .login{
	transition-duration: .5s;
	
	transform: rotateY(90deg) !important;

}

.login input, .signup input{
	
	border-color: #030021;
	margin: 20px auto;
	height: 45px;
}
.login input.submit, .signup input.submit{
	background-color: #84969c;
	border-color:#84969c;
	width: 200px;
	margin: 20px auto;
	display: block;
	color: #33132f;


}
.page-tab{
	min-height: 500px !important;
}
.right-side{
	padding-top: 30px;
}
.right-side h1{
	font-size: 63px;
    font-weight: 900;
    font-family: inherit;
}
.alternative{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.alternative ul li{
	display: inline-block;
	border-right: 1px solid #8b8bf1;
	margin-right: 5px;
	padding-right: 5px; 
	color: #fff;

}
.login form h2, .signup form h2{
	text-align: center;
	margin: 5px auto;
}
.copyright{
	    background-color: #000;
    text-align: center;
    margin-bottom: -64px;
    padding: 4px;
    color: #eef;
}
.clompute h2{
	color: #663ab6;
font-size: 20px;
text-align: center;
margin: 160px auto 40px;
text-transform: uppercase;
font-weight: 600;
}
.clompute ul li{
	list-style: none;
	text-align: center;
	font-size: 18px;
	color: #040a21;
}
 .clompute img{
 	width: 100px;
    margin: 0 auto;
    display: block;
 }
.cloudcompute img{
	width: 300px;
margin: 5px auto -180px auto;
    background-color: #fff;

}
.wifi{
	position: absolute;
left: 167px;
margin: 10px !important;
width: 85px !important;
}
/*.cloudcompute{
	margin: -30px auto -80px auto;
}*/
.copyright img
{
	width: 20px;
}
footer{
	background-color: #000;
	color: #fff;
	bottom: 0;
	text-align: center;
}