
.outlay{
	background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
	min-height: 300px;
	width: 100%;

}
.features-top{
	min-height: 630px;

}
.features-pitch{
	background-color: #fff;
	min-height: 600px;
	width: 80%;
	margin: -235px auto 50px;
	border-radius: 20px;
	border: 1px solid #eee;
}
.features-pitch:before{
	background-image: url('../images/rounded white.svg');
    position: absolute;
    width: 61%;
    height: 53%;
    content: '';
    min-width: 380px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.feature-compute h2{
	text-align: left;
	margin-left: 30px;
	font-size: 35px;
}
.feature-compute li{
	list-style: disc;
	margin: 15px;

	color: #5f5f5f;
}
.feature-compute .icon{
	width: 80px;
    height: 80px;

    padding: 15px;
    border-radius: 30px;
    margin: 30px;
}
.feature-compute{
	min-height: 500px;
	padding: 30px;
}
.feature-info{
	margin-left: 30px;
	width: 70%;
	color: #5f5f5f;

}
.features-nav{

	width: 720px;
	margin: -70px auto;
}
.features-nav ul li{
	padding: 10px;
	display:inline-block;
	width: 220px;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 16px;
}

.features-nav ul li.active:after, .features-nav ul li:hover:after {
	background-image: linear-gradient(to bottom left, #e8d3ec 0%,#940a4a 100%);
	text-align: center;
    margin: 10px auto;
    display: block;
    content: '';
    width: 74px;
    border-radius: 86px;
    height: 3px;
    padding: 2px;
}

.features-nav ul li.active:before{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: '';
    position: absolute;
    margin-top: 50px;
    margin-left: 22px;
}
.features-target{
	z-index: 0;
    margin-top: 75px;
}
.features-products{
	margin-top: -360px;
	overflow: hidden;
}
.products-info blockquote{
	font-size: 26px;
	text-align: center;
	color: #64606f !important;
	padding: 130px;
}
.products-info p{
	font-size: 26px;
text-align: center;
color: #1f143c !important;
margin: 100px auto 300px;
}
.products-left{
	float: left;
	width: 20%;
    min-width: 150px;
}
.products-left .first{
	margin-right: -120px;
}
.products-icons{
	margin: 50px auto;
}
.products-left .third{
	margin: 0 -120px auto auto;
}
.product-info 	blockquote:before {
	content: "❞";
	font-family: 'icons';
	font-size: 62px;
	width: 100%;
	display: block;
}


.pay-pitch{
	color: aliceblue;
    font-size: 17px;
    text-align: center;
    margin: -40px;
}
.contact_nav ul{
	width: 335px;
	height: 50px;
	margin:0 auto;
}
.contact_nav ul li{
	display: inline-block;
padding: 10px;
background: #57144599;
border-radius: 15px;
color: #fff;
}
.contact_nav{
	margin: 40px auto -60px;
	width: 585px;
}