
.outlay{
	background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
	min-height: 300px;
	width: 100%;

}
.pay-pitch{
	color: aliceblue;
    font-size: 17px;
    text-align: center;
    margin: -40px;
}
.contact_nav ul{
	width: 335px;
	height: 50px;
	margin:0 auto;
}
.contact_nav ul li{
	display: inline-block;
padding: 10px;
background: #57144599;
border-radius: 15px;
color: #fff;
}
.contact_nav{
	margin: 40px auto -60px;
	width: 585px;
}