/*color scheme
	#92278F
	#D12D68
	#778A91
*/

@font-face {
    font-family: Rubik;
    font-display: auto;
    src: url("../Fonts/Rubik/Rubik-Regular.otf") format("opentype");
}
body{
    margin: 0;
    color: #85969c;
    font-family: 'Rubik', sans-serif !important;
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
p {
    font-size: 15px;

}
ul li{
    list-style: none;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none !important;
    outline: none !important;
    color: #fff !important;
}
input.subscribeemail{
    color: #000 !important;
} 
#subscribeResponse{
    margin: 20px auto;
    width: 80%;
    float: left;
}
.alert p{
    margin-top: 0 !important;
    color: #c13e8d !important;
}
#sendInquiryResponse p{
    margin-top: 100px;
    text-align: left;
    width: 100%;
    color: #fff;
}
#sendInquiryResponse{
    overflow: hidden;
    
    display: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover {
outline: none !important;
color: #fff !important;
}
.menu-border{
	backface-visibility: hidden;

	position: absolute;
	width: 100%;
	left: 0;
	z-index: 15;
    
    
}
.menu-nav{
    position: absolute !important;
    z-index: 100;
    width: 100%;
    background-image: none !important;
    background-color: transparent !important;
}
.menu-nav .navbar-collapse{
    background-color: transparent !important;
}
.menu-nav .navbar-brand{
  float: none;
    
}
.menu-nav.navbar-default{
    border: none;
   box-shadow: none;
   border-radius: 0;
}
.nav_scroll.signup{
    background-color: #fa5959;
    border-radius: 25px;
    width: 110px;
    height: 47px;
    text-align: center;
    padding-top: 14px;
}
nav.navigation {
    margin: 0 auto;
}
nav.navigation ul li {
    padding: 30px;
    float: left;
    font-size: 15px;
    font-weight: 500;
}
.menu-nav .container{
    padding-right: 0;
}
nav.navigation ul li a {
    color: #fff;
    text-transform: capitalize;
    
    font-size: 13px;
}
.drop-down{
    display: none;
    position: absolute;
    border: 1px #eee solid;
    border-radius: 13px;
    padding: 8px;
    margin-left: -15px;
    background-color: #fff;
    color: purple;
    transition: 5s;
}
.drop-down:before{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: '';
    position: absolute;
    top: -10px;
    left: 48px;

}
.drop-down li a{
    color: #333 !important;
}
.drop-down li:hover{
    border-bottom: 1px rgba(105, 77, 105, 0.51) solid;
}
.drop ul li{
   margin-left: -30px;
    width: 105px;
    padding: 8px !important;
    
    color: purple;
}
.drop:hover .drop-down{
    display: block;
    transition: 5s;
}
.logo-img {
       width: 140px;
       margin: -20px auto;
        position: absolute;
        height: 50px;
   
}
.menu-fff{
    background-color: #fff !important;
    background-image: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075) !important;
    transition-duration: .5s; 
}
.menu-scroll li{
    padding: 0px 10px !important;
}
.menu-scroll .logo-img{
    
    display: block; 
 
}
.right {
    float: right !important;
}
.menu-trigger{
	height: 40px;
   
    float: right;
    cursor: pointer;
    margin-right: 0;
    margin-top: 15px;
    display: none;
    z-index: 100000000;
    border: 1px solid #000;
}
.menu-trigger ul li{
	display: block !important;
    width: 28px;
    height: 1px;
    background-color: #fff;
    padding: none;
    padding: 0 !important;
    margin-bottom: 5px;
}


.menu-scroll{
    position: fixed !important;
       
    backface-visibility: hidden;
    padding-right: 40px;
    padding-left: 40px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
    width: 100%;
    z-index: 12;
    padding-top: 20px;
    padding-bottom: 10px;
}
.menu-scroll .Title{
    color: #fff;
    position: absolute;
    margin: -8px auto 0 15px;
    display: block;
    width: 150px;
}
.menu-scroll a{
    color: #fff !important;
    
}
.menu-scroll .menu-hover:after{
    
}
.menu-scroll-color a{
    color: purple !important;
}
/* home section */

#home{
	background-image:linear-gradient(to bottom left, #89389d 0%,#ae326c 100%);
    background-size: cover;
    width: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    min-height: 121vh;
}

#home:after{
    background-image: url('../images/homepage curve.svg');
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;

}
.landing-section{
    overflow: visible;
    
  
    margin-top: 90px;
    max-height: 780px;
    color: #000;
    text-align: center;
    border-radius: 4px;
}
.center{
    text-align: center;
    margin: 20px auto;
}
.centered {
    max-width: 800px;
    font-family: Rubik;
    padding-top: 100px;
}
.landing-section h2 {
    color: #fff;
    
    text-align: left;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;

}
.pitch {
    color: #fff;
    text-align: left;
    margin: 55px auto;
    font-size: 20px;
    font-family: Rubik;
    width: 100%;
}
.pitch2{
    margin: 40px 0 20px;
    font-size:20px;
}
.region{
    text-align: center;
    color: rgb(56, 56, 56) !important;
    font-size: 23px;
}
.buttons a {
    background-color: transparent;
    
    padding: 16px;
border-radius: 30px;
color: #fff;
font-size: 13px;
width: 200px;
    float: left;
}
.signup-button{
    background-color: #39d78a !important;
border: none;
}
.signup-button a:active{
    text-decoration: none !important;
    color: #fff;
}
.button a:active, .button a:hover{
    color: #fff !important;
}
.centered a:hover{
    color: #fff;
}
.duara-cloud img{
   width: 140%;
z-index: 10;
position: relative;
margin-left: -65px;
padding-top: 45px;
   
}


/* Features section */

#features h1 {
    text-align: center;
    margin: 30px auto;
 
    
    line-height: 2;

}
#features img{
    width: 70px;
    height: 70px;
    display: block;
 
}
.simple img{
    width:30%;
}
.reliable{
    width: 100px;    

}
.clompute h2 {
font-size: 15px;
text-align: left;
color: #757373;
margin: 40px auto;
text-transform: uppercase;
font-weight: bold;
}
.clompute {
    
    box-shadow:0px 0px 20px 7px rgba(103, 38, 132, 0.05);
    padding: 22px;
    background-color: #fff;
        transition-duration: 0.3s;
        margin: 50px auto;
        height: 290px;
        border-radius: 5px;
        position: relative;

        
}
.clompute::before{
/*    background-image: url('../images/Purple Shadow.png');*/
    position: absolute;
    content: '';
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.simple-value.hover,.transparent-value.hover, .reliable-value.hover, .support-value.hover{
    background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
    color: #fff;
    box-shadow: none;
}
{
    background-image: url('../images/signup.svg');
}
.clompute:hover{
    box-shadow: 0px 0px 20px 7px rgba(103, 38, 132, 0.1);
}

.reduce p {
    text-align: left;
margin: 20px auto;
max-width: 650px;
font-size: 13px;
line-height: 1.8;
color: rgb(116, 114, 130);
    
}
.clompute.hover p{
    color: #fff;
}
.pitch-spin {
    text-align: center;
    color: #293b5f;
    margin: 80px auto 40px;
    font-size: 28px;
    font-weight: lighter;
   
}


.simple {
    margin: 50px auto 100px !important;
    width: 95%;
    position: relative !important;
}
.simple p{
    color: rgb(56, 56, 56) !important;
    font-size: 16px !important;
    line-height: 3;
    letter-spacing: 1px;
    text-align: center !important;
    margin: 35px auto 0;
}

.simplicity {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    width: 14%;
 
}
.simplicity img{
    width:  50px;
}
.simplicity i.fa-user-plus{
    color: #fb5d57;
}
.simplicity i.fa-cog{
   color:  #43d8dd;
}
.simplicity i.fa-paper-plane{
   color:  #c9438c;
}
.simple .simplicity,.products-icons {
    border-radius: 50%;
    
    box-shadow:-4px 8px 20px 0px rgba(50, 50, 50, 0.15);
    padding: 30px;
    width: 125px;
    height: 125px;
    background-color: #fff;
    z-index: 10;
    margin: 0 auto;
    display: block;
}
p.simplicity{
    text-align: center;
    margin: 60px auto !important;
    display: block;
    background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
    width: 74px;
    border-radius: 86px;
    height: 3px;
    padding: 2px;
}
.placed-position{
    position: absolute;

height: 280px;

width: 100%;
}
.border-delay {
    top: 0;
    background-image: url('../images/dotted line.svg');
    position: relative !important;
    height: 142px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 90% !important;
    background-position: center;
    margin: 0 auto;
    z-index: 0;
}

/* Products section */
.bck-shade:before{
    content: '';
    background-image: url('../images/Transparent Products Overlay.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 127%;
    background-repeat: no-repeat;
    top: 0;
bottom: 0;
left: 0;
right: 0;
}
.section-bg{
    overflow: hidden;
    height: 160px;
}
.bck-shade {
    background-image: url(../images/ProductsOverlay.svg);

min-height: 750px;
position: relative;
background-size: cover;
position: relative;
background-repeat: no-repeat;
}
#pricing{
    position: relative;
}
#pricing::before{
    background-image: url('../images/rounded white.svg');
    position: absolute;
        width: 61%;
    height: 133%;
    content: '';
    min-width: 380px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#pricing .table{
    position: relative;
    z-index: 9;
}
#products .heading {
    margin:62px auto 50px;
    text-transform: capitalize;
    font-size: 36px;
   
    letter-spacing: 2px;
    line-height: 2;
    color: #fff;
}
#products .icon{
    float: left;
}
 #products .content{
    float: left;
    width: 80%;
    margin-left: 15px;
}

.heading {
    text-align: center;
}


#products header h3 {
    font-family: 'Rubik' !important;
    font-size: 19px;
    color: #fff;
    margin: 12px auto;
}

#products img {
    width: 40px;
margin: 3px auto;
    display: block;
    color: #fff;
   
    padding: 11px;
}
#products .icon{
    border-radius: 50%;
        background-color: rgba(228, 207, 219, 0.48);

        width: 45px;
        height: 45px;
        
}
#products p {
    font-size: 13px;
    color: #fff;
    margin: 20px 0 50px;
    max-width: 300px;
    width: 100%;

}




.purple-shade {
    position: relative;
    background-image: -moz-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: -webkit-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: -ms-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    text-align: center;
}
.purple-shade h2 {
    margin: 60px auto 20px;
    color: white;
}
.purple-shade p {
    color: #ffb8f6;
    width: 60%;
    margin: 0 auto;
}
.purple-shade .buttons {
    margin: 30px auto;
    display: block;
    width: 10%;
    min-width: 250px;
}
#home .buttons{
    margin: 10px auto auto 0;
    z-index: 10;
position: relative;
height: 100px;
min-width: 390px;
}

/* Pricing section */

#pricing {
   margin: 50px auto 20px;
    padding: 20px;
}
#pricing h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 37px;
    margin-bottom: -30px;
}

.limit-info {
    width: 880px;
    margin: 10px auto ;
    animation-delay: 12s;
    -webkit-animation: 25s infinite linear;
    margin: -25px auto 0;
}
.info.active, .info:hover {
    font-weight: 700;
    cursor: pointer;
    
    background-image: linear-gradient(to right, #89389d 0%,#d74589 100%);
    border-radius: 60px;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
}
.info:hover{
        
         box-shadow: 0px 0px 20px 7px rgba(103, 38, 132, 0.2);
}
.info.active h6, .info:hover h6 {
    color: #fff;
}
.info.active {
  
    
    z-index: 30;
    color: #fff;

}

.info h6 {
    font-size: 17px;
  
    text-align: center;

}
.info.active h6 {
 
 color: #fff;
 font-size: 17px;
 font-weight: 100;
}
.info {
    width: 32%;
   

    border: 1px solid #cebcca;
    border-top: none;
    display: inline-block;
    padding: 2px;

        height: 45px;
    margin-right: 1%;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
    border-radius: 20px;
    float: left;

}
.borderless{
    border-left: none; border-right: none;
}
.target-info{
    width: 100%;
    margin: 47px auto;
    background-color: #fff;
}
.target-info div {
    display: none;
    min-height: 350px;
}

.table > tbody > tr:nth-of-type(2n) {
    background-color: rgba(165, 161, 165, 0.09) !important;
}
.table > tbody > tr td:first-child{
    color: #0f0038 !important;
    font-size: 15px;
}
.table > tbody > tr td:last-child{
    border-right: none !important;
}
.table > tbody > tr td:nth-of-type(n) {
    border-right: rgba(141, 140, 148, 0.28) solid 2px;
    text-align: center;
    padding-top: 25px;
    color: rgb(116, 114, 130);

}
.table > tbody > tr th{
    text-align: center;
padding-top: 20px !important;
color: #64606f;
font-size: 15px;

}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none !important;
    width: 20%;
    vertical-align: middle !important;
}
.border-shadow{
 
    border-radius: 20px;
}
.pricing-table table{

    border-top: none;
    box-shadow: 0px 5px 20px 0px rgba(167, 167, 167, 0.45);
    border-radius: 5px;
}
.pricing-table table tr{
    height: 70px;
}
.heavy-font{
    color: #fff !important;
    text-transform: capitalize;
    margin: 100px auto -30px;
    margin-bottom: -30px;
    text-align: left;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
}
.heavy-fontcolor{
    color: #64606f !important;
}
.info-active {
    display: block !important;
}
.info-active div{
    display: block;
}
/* Contact section */

#contact {
    padding-bottom: 90px;
}
#contact h1 {
    display: block;
    

    text-transform: capitalize;
    font-size: 35px;
    
}
.contact-header {
    text-align: center !important;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: auto;
    padding: 75px 0 3px;
    
    font-size: 38px !important;
}
.contact-card{
    background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: -200px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px 7px rgba(33, 28, 35, 0.21);
    width: 85%;
    overflow-x: hidden;
}
.contact-card::before{
    content: '';
    position: absolute;
    width: 100%;
    min-width: 900px;
    height: 100%;
    background-image: url(../images/dotted-world-map.png);
    display: block !important;
    top: 0;
    left: 0;
    background-size: cover;

    transform: rotateY(180deg);
}
.contact-card h2{
    color: #fff;
   font-size: 42px !important;
    padding: 15px;
    padding-left: 0;
}
.contact-card p{
    color: #fff;
    width: 440px;
    font-size: 17px;
    margin-top: 30px;
}

.channels li {
    list-style: none;
    text-align: left;
    margin: 25px 0;
    clear: both;
}
.channels li p, .channels li i{
    float: left;
}
.channels p {
    font-size: 12px;
    margin-left: 10px;
    max-width: 180px;
}
.channels{
    margin: 0 auto;
    
    overflow: hidden;
    max-width: 345px;
    
}
.copyright{
    text-align: center;
    margin-top: 50px;
}


.right-line {
    border-right: 1px solid #0c0c0e;
    height: 285px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}
.contact {
    width: 80%;
    margin: 0 auto;
    overflow:hidden;
    min-height: 390px;
}
.contact .form-group input:first-child {
    margin-bottom: 30px;
}
.contact .form-group input, .contact .form-group textarea{
    padding: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    box-shadow: none;
    color: #fff;
}
.contact .form-group input::placeholder, .contact .form-group textarea::placeholder{
    color: #fff;
}
.contact .form-group textarea{
    min-height: 150px;
  
}
.submit-btn {
    background-color: #40c78a;
    color: #fff;
    margin: 20px auto;
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 10px !important;
    display: block !important;
    border-radius: 20px !important;
    float: right;
}
.submit-btn:hover{
    box-shadow: 0px 0px 20px 7px rgba(103, 38, 132, 0.2);
}
.media-icons{
    margin: 0 auto;
    display: block;
    width: 70%;
    max-width: 345px;
}
.media-icons img{
  width: 18px;
margin-left: 20px;
}
.media-icons i{
color: #7bcae4 !important;
font-size: 50px;
}
.media-icons li{
    float: left;
}
.toast i, .toast p{
    float: left;
    color: #fff;
    max-width: 200px;
    margin: 10px auto !important;
}
.toast i{
    margin-right: 20px !important;
}
.toast h3{
    color: #fff;
    margin-top: 50px;
text-align: center;
}
.quick_nav li{
    margin-left: -37px;
    padding: 5px 0px;
    font-size: 12px;

}
.quick_nav{
   min-height: 275px;
   margin-top: 40px;
}
.shade{
    background-color: purple;
}
footer img, footer i {
    display: inline-block;
}
footer img {
    height: 55px;
    display: block;
}
footer h3{
    font-size: 21px;
}
footer {
    background-color: #0f0038;
    color: #fff;
    bottom: 0;
    text-align: left;
    padding: 40px;
    position: relative;
    z-index: 0;
    padding-top: 190px;
}

footer .row{
    width: 90%;
    margin: 0 auto;
}
.border-hr{
    background-image: linear-gradient(to right, #89389d 0%,#d74589 100%);
    height: 2px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    clear: both;
}
  .contact .mailLabel{
        color: #fff;
        position: absolute;
        bottom: 10px;
        padding: 25px;
        padding-bottom: 0;
        overflow: hidden; 
        z-index: -1;
    }
    .contact .TextArea{
        top: 0 !important;
    }
    input:-internal-autofill-previewed,
    input:-internal-autofill-selected,
    textarea:-internal-autofill-previewed,
    textarea:-internal-autofill-selected, 
    select:-internal-autofill-previewed,
    select:-internal-autofill-selected {
    background-color: transparent !important;
    background-image: none !important;
    color: rgb(255,255,255) !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #fff !important;
    background-clip: content-box;
    -webkit-transition-property: background-color !important;

}
input:-internal-autofill-previewed.subscribemail,
    input:-internal-autofill-selected.subscribemail,
    textarea:-internal-autofill-previewed.subscribemail,
    textarea:-internal-autofill-selected.subscribemail.subscribemail, 
    select:-internal-autofill-previewed.subscribemail,
    select:-internal-autofill-selected.subscribemail {
        color: #000 !important;
        -webkit-text-fill-color: #000 !important;
    }
    .purple-fy {
    background-image: none;
}
/* Media Queries section */
@media (min-width: 1200px){
.container {
    max-width: 1485px;
    
}
}
@media (min-width: 1345px) and (max-width: 1470px){
    .landing-section h2{
        min-width: 470px;
    }
}

@media (min-width: 992px) and (max-width: 1010px){
    .landing-section h2{
        font-size: 38px;
        width: 390px;
    }
}

/* Screen above 1650px wide */
@media only screen and (min-width: 1350px) {
    .bck-shade{
        min-height: 900px;
    }
    .section-bg{
        margin: 48px auto;
    }
    
    .container{
        width: 1485px !important;
    }
    .centered{
        margin: 30px auto;
    }
    .landing-section h2{
        line-height: 1.4;
    }
    .landing-section .pitch{
        line-height: 2;
    }
    .duara-cloud img{
        width: 146%;
    }
    .border-delay{
        top: -25px;
        height: 200px;
    }
    .products .container{
        width: 65%;
    }
    #features h1{
        margin: 0 auto;
    }
}
/* Screen below 690px wide */
@media only screen and (max-width: 690px) {

    .centered{
        padding-top: 0px !important;
        margin-top: -40px;
    }
    .purple-fy {
    background-image: linear-gradient(to bottom left, #89389d 0%,#bb4d8f 100%);
}
.menu-fff .navbar-collapse.in{
    background-image: none !important;
}

}
/* Screen below 990px wide */

@media only screen and (max-width: 992px) {
    .menu-trigger{
		display: block !important;
	}
    .border-delay{
        display: none;
    }
    .duara-cloud{
        display: none;
        visibility: hidden;
    }
    #home{
        min-height: 80vh;
       
    }
    #home:after{
        bottom: -26px;
    }
    .section-bg:last-child{
        padding-bottom: 200px;
    }
    .contact{
        width: 90%;
    padding: 30px;
    padding-top: 55px;
    }

    .toast{
        width: 100%;
    margin: 0 auto;
    padding: 30px;
    }
    .toast h3{
        text-align: center;
    }
    .channels {
        margin-left: -30px;
        max-width: none;
    }
    .media-icons{
        margin-left: -30px;
    }
}
/* Screen past 1550px wide  */


@media only screen and (min-width: 1540px) {
    .simple{
        margin: 30px auto;
        margin-left: 0;
        
    }
    .simplicity{
        width: 14%;
    }
}
/*screen below 650px wide*/
@media only screen and (max-width: 650px) {
.table > tbody > tr th, .table > tbody > tr td {
    font-size: 12px !important;
    padding: 0px !important;
}


}

/* screen below 500px wide */
@media only screen and (max-width: 500px) {
    .landing-section h2{
        font-size: 25px;
    }
    .centered{
        width: 120%;
        margin-left: -30px;

    }
    .pitch{
        font-size: 16px;
    }
    .subscribemail{
        clear: both;
        float: none !important;
        margin: 10px auto;
        width: 200px !important;
    }
    .submit-btn-sub{
        width: 200px !important;
    }
    .clompute{
        height: 318px;
    }
    .contact{
        width: 100%;
    }
    th.shorten{
    font-size: 10px !important;
}

}
/* subscribe styling */
.subscribemail{
    background-color: rgb(37, 184, 104);
    float: left;
    border-radius: 30px;
    padding: 11px;
    border: none;
    margin-right: 10px;
    width: 280px;
    color: #000 !important;
    text-align: left;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
}
.subscribemail:focus, .subscribemail:active{
    outline: none;
}
.subscribemail::placeholder{
    text-align: left;
    color: #fff;
}
.input-alert{
    display: none;
}
.submit-btn-sub{
  margin: 6px auto;
    position: absolute;
    width: 40px;
    padding: 10px !important;
    display: block !important;
    border-radius: 28px !important;
    color: #fff;
    height: 40px;
    right: 20px;
    background-color: #fb5a59;
}
.submit-btn-sub:focus, .submit-btn-sub:active:focus, .submit-btn-sub.active:focus {
outline: none !important;
color: #fff !important;

}
.submit-btn-sub:hover{
    box-shadow: 0px 0px 20px 7px rgba(103, 38, 132, 0.2);
}
.submit-btn-sub p{
    font-size: 20px;
    font-weight: 800;
    padding: 0;
    margin: -6px;
}
.pitch1{
  text-align: left;
  color: #fff;
  font-size: 17px;
  font-family: Rubik , sans-serif;
  margin: 80px auto 0 0;
  padding-left: 20px;
}
.alert-warning.message, .alert-success.message, p.survey{
  position: absolute;
  top: 45px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  border-radius: 9px;
  left: 35%;
  width: 400px;
  z-index: 30;
}
p.survey{
  margin-top: 35px;
}

.error-box {
  position: relative;
  margin: 200px auto;
  width: 34%;
  min-width: 300px;
  box-shadow: 0 0px 1px 0 rgba(50,50,50,.3);
  padding: 55px;
  height: 290px;
  text-align: center;
}
.error-box h1,.error-box h4{
  text-align: center;
}
.error-box h4{
  font-weight: bold;
  font-size: 14px;
}
.error-box a{
  text-align: center;
}
