/*color scheme
	#92278F
	#D12D68
	#778A91
*/
/*@import url('https://fonts.googleapis.com/css?family=Rubik:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face {
    font-family:  circular-book;
     font-display: auto;
    src: url("../Fonts/Circular Pro/circular-book.otf") format("opentype");
}
@font-face {
    font-family: Rubik;
     font-display: auto;
     

    src: url("../Fonts/Circular Pro/CircularStd-Medium.otf") format("opentype");
}
@font-face {
    font-family: Rubik;
     font-display: auto;
    src: url("../Fonts/Circular Pro/Rubik.otf") format("opentype");
}
@font-face {
    font-family: Rubik;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Book.otf") format("opentype");
}
@font-face {
    font-family: Rubik;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Bold.otf") format("opentype");
}*/
body{
    margin: 0;
    color: #85969c;
    font-family: 'Rubik', sans-serif !important;
}

p {
    font-size: 15px;

}
ul li{
    list-style: none;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none !important;
    outline: none !important;
    color: #fff !important;
}
/* .wow{
    visibility: hidden;
    opacity: 0.3;
} */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover {
outline: none !important;
color: #fff !important;
}
.menu-border{
	backface-visibility: hidden;
	transition-duration: 1s;
	position: absolute;
	width: 100%;
	
	z-index: 15;
    
    
}


nav.navigation {
    margin: 0 auto;
}
nav.navigation ul li {
    padding: 30px;
    float: left;
    font-size: 15px;
    font-weight: 500;
}
nav.navigation ul li a {
    color: #fff;
    text-transform: capitalize;
    
    font-size: 13px;
}.logo a img {
       width: 140px;
    margin: 20px 0;
   
}
.menu-scroll li{
    padding: 15px 30px 15px 30px !important;
}
.menu-scroll .logo-img{
    margin: 5px !important;
    width: 80px;
    margin: 0 auto;
    display: block; 
    height: 45px;
}
.right {
    float: right !important;
}
.menu-trigger{
	height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 15px;
    display: none;
}
.menu-trigger ul li{
	display: block !important;
    width: 35px;
    height: 5px;
    background-color: #fff;
    padding: none;
    padding: 0 !important;
    margin-bottom: 5px;
}


.menu-scroll{
    position: fixed;
    transition-duration: 1s;   
    backface-visibility: hidden;
    padding-right: 15px;
    padding-left: 15px;

    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
    width: 100%;
    z-index: 12;
}
.menu-scroll .Title{
    color: #fff;
    position: absolute;
    margin: -8px auto 0 15px;
    display: block;
    width: 150px;
}
.menu-scroll a{
    color: purple !important;
}
.menu-scroll .menu-hover:after{
    
}
/* home section */

#home{
	background-image: url(../images/Homepage.svg);
    background-size: cover;
 
    width: 100%;
    position: relative;
    top: 0;
    overflow-x: hidden;
    min-height: 125vh;
}
.landing-section{
    overflow: visible;
    
  
    margin-top: 90px;
    max-height: 780px;
    color: #000;
    text-align: center;
    border-radius: 4px;
}
.centered {
    max-width: 800px;
    font-family: Rubik;
    padding-top: 100px;
}
.landing-section h2 {
    color: #fff;
    
    text-align: left;
    font-size: 45px;
    
    margin-bottom: 20px;
}
.pitch {
    color: #fff;
    text-align: left;
    margin: 55px auto;
    font-size: 20px;
    font-family: Rubik;
    width: 100%;
}
.pitch2{
    margin: 40px 0;
    font-size:20px;
}
.buttons a {
    background-color: transparent;
    
    padding: 16px;
border-radius: 30px;
color: #fff;
font-size: 13px;
width: 200px;
    float: left;
}
.signup-button{
    background-color: #39d78a !important;
border: none;
}
.signup-button a:active{
    text-decoration: none !important;
    color: #fff;
}
.button a:active, .button a:hover{
    color: #fff !important;
}
.centered a:hover{
    color: #fff;
}
.duara-cloud img{
    
    
    width: 125%;
padding-top: 25px;
   
}
.duara-cloud{
   margin-left: -125px;
}

/* Features section */

#features h1 {
    text-align: center;
    margin: 30px auto;
    color: #6f1c5c;
    
    line-height: 2;

}
#features img{
    width: 70px;
    display: block;
 
}
.simple img{
    width:30%;
}
.reliable{
    width: 100px;    

}
.clompute h2 {
font-size: 15px;
text-align: left;
color: #000;
margin: 40px auto;
text-transform: uppercase;
font-weight: bold;
}
.clompute {
    
    box-shadow: 0px 2px 20px 0px rgba(185, 77, 144, 0.15);
    padding: 22px;
        transition-duration: 0.3s;
        margin: 50px auto;
        min-height: 350px;
        border-radius: 5px;
        
}
.simple-value.hover,.transparent-value.hover, .reliable-value.hover, .support-value.hover{
    background-image: linear-gradient(to bottom left, #89389d 0%,#d74589 100%);
    color: #fff;
    box-shadow: none;
}
{
    background-image: url('static/images/signup.svg');
}
.clompute:hover{
    
}
.clompute:hover h2{
    color: #fff;
}
.reduce p {
    text-align: left;
margin: 20px auto;
max-width: 650px;
font-size: 13px;
line-height: 1.8;
color: rgb(116, 114, 130);
    
}
.clompute.hover p{
    color: #fff;
}
.pitch-spin {
    text-align: center;
    color: #293b5f;
    margin: 80px auto 40px;
    font-size: 28px;
    font-weight: lighter;
   
}


.simple {
    margin: 110px auto !important;
    width: 100%;
    position: relative !important;
}
.simple p{
    color: rgb(56, 56, 56) !important;
    font-size: 16px !important;
    line-height: 3;
    letter-spacing: 1px;
    text-align: center !important;
}

.simplicity {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    width: 14%;
 
}
.simplicity img{
    width:  50px;
}
.simplicity i.fa-user-plus{
    color: #fb5d57;
}
.simplicity i.fa-cog{
   color:  #43d8dd;
}
.simplicity i.fa-paper-plane{
   color:  #c9438c;
}
.simple .simplicity {
    border-radius: 50%;
    
    box-shadow:-4px 8px 20px 0px rgba(50, 50, 50, 0.15);
    padding: 30px;
    width: 125px;
    background-color: #fff;
    z-index: 10;
    margin: 0 auto;
    display: block;
}
p.simplicity{
    text-align: center;
    margin: 60px auto;
    display: block;
    background-image: linear-gradient(to right, #f80073 0%,#bc00b9 47%,#7506c3 100%);
    width: 74px;
    border-radius: 86px;
    height: 3px;
    padding: 2px;
}
.placed-position{
    position: absolute;

height: 280px;

width: 100%;
}
.border-delay {
    top: -27px;

background-image: url(../images/wave.svg);

position: relative !important;

height: 230px;

background-repeat: no-repeat;

width: 90%;

background-size: 90% !important;

background-position: center;

margin: 0 auto;

z-index: 0;
}

/* Products section */
.bck-shade:before{
    content: '';
    background-image: url('../images/Transparent Products Overlay.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 127%;
    background-repeat: no-repeat;
}

.bck-shade {
    background-image: url(../images/ProductsOverlay.svg);

min-height: 880px;

background-size: cover;

background-repeat: no-repeat;
}
#pricing{
    position: relative;
}
#pricing::before{
    background-image: url('../images/rounded white.svg');
    position: absolute;
        width: 61%;
    height: 133%;
    content: '';
    min-width: 380px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#pricing .table{
    position: relative;
    z-index: 9;
}
#products .heading {
    margin:100px auto 50px;
    text-transform: capitalize;
    font-size: 45px;
   
    letter-spacing: 2px;
    line-height: 2;
    color: #fff;
}
#products .icon{
    float: left;
}
 #products .content{
    float: right;
    width: 75%;
}

.heading {
    text-align: center;
}
.section-bg div.left {
   
    padding: 20px;
    padding-left: 90px;
    
}

#products header h3 {
    font-family: 'Rubik' !important;
    
    color: #fff;
}

#products img {
    width: 50px;
    margin: 5px auto;
    display: block;
    color: #fff;
   
    padding: 11px;
}
#products .icon{
    border-radius: 50%;
        background-color: rgba(228, 207, 219, 0.48);

        width: 60px;
        height: 60px;
}
#products p {
    font-size: 15px;
    color: #fff;
    margin: 50px auto;

}




.purple-shade {
    position: relative;
    background-image: -moz-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: -webkit-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: -ms-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-image: linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    text-align: center;
}
.purple-shade h2 {
    margin: 60px auto 20px;
    color: white;
}
.purple-shade p {
    color: #ffb8f6;
    width: 60%;
    margin: 0 auto;
}
.purple-shade .buttons {
    margin: 30px auto;
    display: block;
    width: 10%;
    min-width: 250px;
}
#home .buttons{
    margin: 10px auto auto 0;
}

/* Pricing section */

#pricing {
    margin: 30px auto;
    padding: 20px;
}
#pricing h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 37px;
}

.limit-info {
    width: 720px;
    margin: 10px auto -70px;
    animation-delay: 12s;
    -webkit-animation: 25s infinite linear;
}
.info.active, .info:hover {
    font-weight: 700;
    cursor: pointer;
    
    background-image: linear-gradient(to right, #89389d 0%,#d74589 100%);
    border-radius: 60px;
}
.info.active h6, .info:hover h6 {
    font-weight: 700;
    color: #fff;
}
.info.active {
  
    
    z-index: 30;
    color: #fff;
    display: block;
    margin: 0 auto;
}

.info h6 {
    font-size: 20px;
  
    text-align: center;

}
.info.active h6 {
 
 color: #fff;
}
.info {
    width: 200px;
   

    border: 1px solid #cebcca;
    border-top: none;
    display: inline-block;
    padding: 2px;

        height: 45px;
    margin-right: 30px;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
    border-radius: 20px;
}
.borderless{
    border-left: none; border-right: none;
}
.target-info{
    width: 100%;
    margin: 47px auto;
    min-height: 350px;
}
.target-info div {
    display: none;
}

.table > tbody > tr:nth-of-type(2n) {
    background-color: rgba(165, 161, 165, 0.09) !important;
}
.table > tbody > tr td:first-child{
    color: #0f0038 !important;
    font-size: 15px;
}
.table > tbody > tr td:last-child{
    border-right: none !important;
}
.table > tbody > tr td:nth-of-type(n) {
    border-right: rgba(141, 140, 148, 0.28) solid 2px;
    text-align: center;
    padding-top: 25px;
    color: rgb(116, 114, 130);

}
.table > tbody > tr th{
    text-align: center;
    padding-top: 40px !important;
    color: #0f0038;
    font-weight: 700;
    font-size: 18px;
    height: 100px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none !important;
}
.border-shadow{
 
    border-radius: 20px;
}
.pricing-table table{

    border-top: none;
    box-shadow: 0px 5px 20px 0px rgba(167, 167, 167, 0.45);
    border-radius: 5px;
}
.pricing-table table tr{
    height: 70px;
}
.heavy-fontcolor{
    color: #0f0038 !important;
}
.info-active {
    display: block !important;
}
.info-active div{
    display: block;
}
/* Contact section */

#contact {
    padding-bottom: 90px;
}
#contact h1 {
    display: block;
    

    text-transform: capitalize;
    font-size: 35px;
    
}
.contact-header {
    text-align: center !important;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: auto;
    padding: 75px 0 3px;
    
    font-size: 38px !important;
}
.contact-card{
    background-image: linear-gradient(to right, #89389d 0%,#d74589 100%);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: -200px;
    position: relative;
    z-index: 10;
}
.contact-card::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url('../images/dotted world map.svg');
}
.contact-card h2{
    color: #fff;
   font-size: 42px !important;
    padding: 15px;
    padding-left: 0;
}
.contact-card p{
    color: #fff;
    width: 440px;
    font-size: 17px;
    margin-top: 30px;
}

.channels li {
    list-style: none;
    text-align: left;
    margin: 25px 0;
    clear: both;
}
.channels li p, .channels li i{
    float: left;
}
.channels p {
    font-size: 15px;
    margin-left: 10px;
    max-width: 180px;
}
.channels{
    margin-left: -35px;
}
.copyright{
    text-align: center;
    margin-top: 50px;
}
.linkedin img {
    width: 40px !important;
}
.channels img {
    width: 60%;
    width: 25px;
    margin: 10px auto;
}
.right-line {
    border-right: 1px solid #0c0c0e;
    height: 285px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}
.contact {
    width: 90%;
    margin: 0 auto;
}
.contact .form-group input:first-child {
    margin-bottom: 30px;
}
.contact .form-group input, .contact .form-group textarea{
    padding: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    box-shadow: none;
    color: #fff;
}
.contact .form-group input::placeholder, .contact .form-group textarea::placeholder{
    color: #fff;
}
.contact .form-group textarea{
    min-height: 150px;
}
.submit-btn {
    background-color: #40c78a;
    color: #fff;
    margin: 20px auto;
    display: block;
    width: 200px;
    padding: 10px !important;
    display: block !important;
    border-radius: 20px !important;
    float: right;
}

footer img, footer i {
    display: inline-block;
}
footer img {
    height: 80px;
   
    display: block;
}
footer {
    background-color: #0f0038;
    color: #fff;
    bottom: 0;
    text-align: left;
    padding: 40px;
    position: relative;
    z-index: 0;
    padding-top: 190px;
}

footer .row{
    width: 90%;
    margin: 0 auto;
}
.border-hr{
    background-image: linear-gradient(to right, #89389d 0%,#d74589 100%);
    height: 2px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    clear: both;
}
/* Media Queries section */
/* Screen below 990px wide */
@media only screen and (max-width: 990px) {
    .menu-trigger{
		display: block !important;
	}

}
/* Screen past 1550px wide  */


@media only screen and (min-width: 1540px) {
    .simple{
        margin: 30px auto;
        margin-left: 0;
        
    }
    .simplicity{
        width: 14%;
    }
}